@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-cuF_4s6Q_t4y_font-family: "Inter", sans-serif;
  --mixin-cuF_4s6Q_t4y_font-size: 14px;
  --mixin-cuF_4s6Q_t4y_font-weight: 400;
  --mixin-cuF_4s6Q_t4y_font-style: normal;
  --mixin-cuF_4s6Q_t4y_color: #535353;
  --mixin-cuF_4s6Q_t4y_text-align: left;
  --mixin-cuF_4s6Q_t4y_text-transform: none;
  --mixin-cuF_4s6Q_t4y_line-height: 1.5;
  --mixin-cuF_4s6Q_t4y_letter-spacing: normal;
  --mixin-cuF_4s6Q_t4y_white-space: pre-wrap;
  --mixin-cuF_4s6Q_t4y_user-select: text;
  --mixin-cuF_4s6Q_t4y_text-decoration-line: none;
  --mixin-cuF_4s6Q_t4y_text-overflow: clip;
  --mixin-C9uJvyo71Fda_color: #000000;
  --mixin-C9uJvyo71Fda_font-weight: 600;
  --mixin-C9uJvyo71Fda_font-size: 40px;
  --mixin-C9uJvyo71Fda_line-height: 1;
  --mixin-C9uJvyo71Fda_letter-spacing: -1px;
  --mixin-C9uJvyo71Fda_white-space: pre-wrap;
  --mixin-pbFqfgFH9eKq_color: #000000;
  --mixin-pbFqfgFH9eKq_font-size: 30px;
  --mixin-pbFqfgFH9eKq_font-weight: 600;
  --mixin-pbFqfgFH9eKq_line-height: 1.1;
  --mixin-pbFqfgFH9eKq_white-space: pre-wrap;
  --mixin-D0_gdMu1EfX__color: #0070f3;
  --mixin-D0_gdMu1EfX__white-space: pre-wrap;
  --mixin-ceOWKpB6fdze_color: #000000;
  --mixin-ceOWKpB6fdze_font-size: 24px;
  --mixin-ceOWKpB6fdze_font-weight: 600;
  --mixin-ceOWKpB6fdze_line-height: 1.2;
  --mixin-ceOWKpB6fdze_white-space: pre-wrap;
  --mixin-zfaMD-GJz8MN_color: #000000;
  --mixin-zfaMD-GJz8MN_font-size: 20px;
  --mixin-zfaMD-GJz8MN_font-weight: 600;
  --mixin-zfaMD-GJz8MN_line-height: 1.3;
  --mixin-zfaMD-GJz8MN_white-space: pre-wrap;
  --mixin-AyvzXy61IjSZ_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-AyvzXy61IjSZ_border-bottom-color: #dddddd;
  --mixin-AyvzXy61IjSZ_border-bottom-style: solid;
  --mixin-AyvzXy61IjSZ_border-bottom-width: 1px;
  --mixin-AyvzXy61IjSZ_border-left-color: #dddddd;
  --mixin-AyvzXy61IjSZ_border-left-style: solid;
  --mixin-AyvzXy61IjSZ_border-left-width: 1px;
  --mixin-AyvzXy61IjSZ_border-right-color: #dddddd;
  --mixin-AyvzXy61IjSZ_border-right-style: solid;
  --mixin-AyvzXy61IjSZ_border-right-width: 1px;
  --mixin-AyvzXy61IjSZ_border-top-color: #dddddd;
  --mixin-AyvzXy61IjSZ_border-top-style: solid;
  --mixin-AyvzXy61IjSZ_border-top-width: 1px;
  --mixin-AyvzXy61IjSZ_border-bottom-left-radius: 3px;
  --mixin-AyvzXy61IjSZ_border-bottom-right-radius: 3px;
  --mixin-AyvzXy61IjSZ_border-top-left-radius: 3px;
  --mixin-AyvzXy61IjSZ_border-top-right-radius: 3px;
  --mixin-AyvzXy61IjSZ_font-family: "Inconsolata";
  --mixin-AyvzXy61IjSZ_padding-bottom: 1px;
  --mixin-AyvzXy61IjSZ_padding-left: 4px;
  --mixin-AyvzXy61IjSZ_padding-right: 4px;
  --mixin-AyvzXy61IjSZ_padding-top: 1px;
  --mixin-AyvzXy61IjSZ_white-space: pre-wrap;
  --mixin-NPISyfpnS8ak_border-left-color: #dddddd;
  --mixin-NPISyfpnS8ak_border-left-style: solid;
  --mixin-NPISyfpnS8ak_border-left-width: 3px;
  --mixin-NPISyfpnS8ak_color: #888888;
  --mixin-NPISyfpnS8ak_padding-left: 10px;
  --mixin-NPISyfpnS8ak_white-space: pre-wrap;
  --mixin-Vko8yN6v2MQt_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Vko8yN6v2MQt_border-bottom-color: #dddddd;
  --mixin-Vko8yN6v2MQt_border-bottom-style: solid;
  --mixin-Vko8yN6v2MQt_border-bottom-width: 1px;
  --mixin-Vko8yN6v2MQt_border-left-color: #dddddd;
  --mixin-Vko8yN6v2MQt_border-left-style: solid;
  --mixin-Vko8yN6v2MQt_border-left-width: 1px;
  --mixin-Vko8yN6v2MQt_border-right-color: #dddddd;
  --mixin-Vko8yN6v2MQt_border-right-style: solid;
  --mixin-Vko8yN6v2MQt_border-right-width: 1px;
  --mixin-Vko8yN6v2MQt_border-top-color: #dddddd;
  --mixin-Vko8yN6v2MQt_border-top-style: solid;
  --mixin-Vko8yN6v2MQt_border-top-width: 1px;
  --mixin-Vko8yN6v2MQt_border-bottom-left-radius: 3px;
  --mixin-Vko8yN6v2MQt_border-bottom-right-radius: 3px;
  --mixin-Vko8yN6v2MQt_border-top-left-radius: 3px;
  --mixin-Vko8yN6v2MQt_border-top-right-radius: 3px;
  --mixin-Vko8yN6v2MQt_font-family: "Inconsolata";
  --mixin-Vko8yN6v2MQt_padding-bottom: 3px;
  --mixin-Vko8yN6v2MQt_padding-left: 6px;
  --mixin-Vko8yN6v2MQt_padding-right: 6px;
  --mixin-Vko8yN6v2MQt_padding-top: 3px;
  --mixin-Vko8yN6v2MQt_white-space: pre-wrap;
  --mixin-jqJay2Pyvmfk_display: flex;
  --mixin-jqJay2Pyvmfk_flex-direction: column;
  --mixin-jqJay2Pyvmfk_align-items: stretch;
  --mixin-jqJay2Pyvmfk_justify-content: flex-start;
  --mixin-jqJay2Pyvmfk_list-style-position: outside;
  --mixin-jqJay2Pyvmfk_padding-left: 40px;
  --mixin-jqJay2Pyvmfk_position: relative;
  --mixin-jqJay2Pyvmfk_list-style-type: disc;
  --mixin-jqJay2Pyvmfk_white-space: pre-wrap;
  --mixin-hVkgNUjCrqNR_display: flex;
  --mixin-hVkgNUjCrqNR_flex-direction: column;
  --mixin-hVkgNUjCrqNR_align-items: stretch;
  --mixin-hVkgNUjCrqNR_justify-content: flex-start;
  --mixin-hVkgNUjCrqNR_list-style-position: outside;
  --mixin-hVkgNUjCrqNR_padding-left: 40px;
  --mixin-hVkgNUjCrqNR_position: relative;
  --mixin-hVkgNUjCrqNR_list-style-type: decimal;
  --mixin-hVkgNUjCrqNR_white-space: pre-wrap;
  --mixin-nADk2cizkF07_color: #000000;
  --mixin-nADk2cizkF07_font-size: 16px;
  --mixin-nADk2cizkF07_font-weight: 600;
  --mixin-nADk2cizkF07_line-height: 1.5;
  --mixin-nADk2cizkF07_white-space: pre-wrap;
  --mixin-SIViVZJ5CjH1_color: #000000;
  --mixin-SIViVZJ5CjH1_font-size: 14px;
  --mixin-SIViVZJ5CjH1_font-weight: 600;
  --mixin-SIViVZJ5CjH1_line-height: 1.5;
  --mixin-SIViVZJ5CjH1_white-space: pre-wrap;
  --mixin-aNlQZU6-mgLk_color: #3291ff;
  --mixin-aNlQZU6-mgLk_white-space: pre-wrap;
  --mixin-xR3IeiB_stou_white-space: pre-wrap;
  --mixin-si8Vgv7vP933_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.i) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text i) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.em) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text em) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.strong) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text strong) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-cuF_4s6Q_t4y_font-family);
  font-size: var(--mixin-cuF_4s6Q_t4y_font-size);
  font-weight: var(--mixin-cuF_4s6Q_t4y_font-weight);
  font-style: var(--mixin-cuF_4s6Q_t4y_font-style);
  color: var(--mixin-cuF_4s6Q_t4y_color);
  text-align: var(--mixin-cuF_4s6Q_t4y_text-align);
  text-transform: var(--mixin-cuF_4s6Q_t4y_text-transform);
  line-height: var(--mixin-cuF_4s6Q_t4y_line-height);
  letter-spacing: var(--mixin-cuF_4s6Q_t4y_letter-spacing);
  white-space: var(--mixin-cuF_4s6Q_t4y_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-C9uJvyo71Fda_color);
  font-weight: var(--mixin-C9uJvyo71Fda_font-weight);
  font-size: var(--mixin-C9uJvyo71Fda_font-size);
  line-height: var(--mixin-C9uJvyo71Fda_line-height);
  letter-spacing: var(--mixin-C9uJvyo71Fda_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-pbFqfgFH9eKq_color);
  font-size: var(--mixin-pbFqfgFH9eKq_font-size);
  font-weight: var(--mixin-pbFqfgFH9eKq_font-weight);
  line-height: var(--mixin-pbFqfgFH9eKq_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-D0_gdMu1EfX__color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-ceOWKpB6fdze_color);
  font-size: var(--mixin-ceOWKpB6fdze_font-size);
  font-weight: var(--mixin-ceOWKpB6fdze_font-weight);
  line-height: var(--mixin-ceOWKpB6fdze_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-zfaMD-GJz8MN_color);
  font-size: var(--mixin-zfaMD-GJz8MN_font-size);
  font-weight: var(--mixin-zfaMD-GJz8MN_font-weight);
  line-height: var(--mixin-zfaMD-GJz8MN_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-AyvzXy61IjSZ_font-family);
  border-radius: var(--mixin-AyvzXy61IjSZ_border-top-left-radius)
    var(--mixin-AyvzXy61IjSZ_border-top-right-radius)
    var(--mixin-AyvzXy61IjSZ_border-bottom-right-radius)
    var(--mixin-AyvzXy61IjSZ_border-bottom-left-radius);
  padding: var(--mixin-AyvzXy61IjSZ_padding-top)
    var(--mixin-AyvzXy61IjSZ_padding-right)
    var(--mixin-AyvzXy61IjSZ_padding-bottom)
    var(--mixin-AyvzXy61IjSZ_padding-left);
  border-top: var(--mixin-AyvzXy61IjSZ_border-top-width)
    var(--mixin-AyvzXy61IjSZ_border-top-style)
    var(--mixin-AyvzXy61IjSZ_border-top-color);
  border-right: var(--mixin-AyvzXy61IjSZ_border-right-width)
    var(--mixin-AyvzXy61IjSZ_border-right-style)
    var(--mixin-AyvzXy61IjSZ_border-right-color);
  border-bottom: var(--mixin-AyvzXy61IjSZ_border-bottom-width)
    var(--mixin-AyvzXy61IjSZ_border-bottom-style)
    var(--mixin-AyvzXy61IjSZ_border-bottom-color);
  border-left: var(--mixin-AyvzXy61IjSZ_border-left-width)
    var(--mixin-AyvzXy61IjSZ_border-left-style)
    var(--mixin-AyvzXy61IjSZ_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-NPISyfpnS8ak_color);
  padding-left: var(--mixin-NPISyfpnS8ak_padding-left);
  border-left: var(--mixin-NPISyfpnS8ak_border-left-width)
    var(--mixin-NPISyfpnS8ak_border-left-style)
    var(--mixin-NPISyfpnS8ak_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-Vko8yN6v2MQt_font-family);
  border-radius: var(--mixin-Vko8yN6v2MQt_border-top-left-radius)
    var(--mixin-Vko8yN6v2MQt_border-top-right-radius)
    var(--mixin-Vko8yN6v2MQt_border-bottom-right-radius)
    var(--mixin-Vko8yN6v2MQt_border-bottom-left-radius);
  padding: var(--mixin-Vko8yN6v2MQt_padding-top)
    var(--mixin-Vko8yN6v2MQt_padding-right)
    var(--mixin-Vko8yN6v2MQt_padding-bottom)
    var(--mixin-Vko8yN6v2MQt_padding-left);
  border-top: var(--mixin-Vko8yN6v2MQt_border-top-width)
    var(--mixin-Vko8yN6v2MQt_border-top-style)
    var(--mixin-Vko8yN6v2MQt_border-top-color);
  border-right: var(--mixin-Vko8yN6v2MQt_border-right-width)
    var(--mixin-Vko8yN6v2MQt_border-right-style)
    var(--mixin-Vko8yN6v2MQt_border-right-color);
  border-bottom: var(--mixin-Vko8yN6v2MQt_border-bottom-width)
    var(--mixin-Vko8yN6v2MQt_border-bottom-style)
    var(--mixin-Vko8yN6v2MQt_border-bottom-color);
  border-left: var(--mixin-Vko8yN6v2MQt_border-left-width)
    var(--mixin-Vko8yN6v2MQt_border-left-style)
    var(--mixin-Vko8yN6v2MQt_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-jqJay2Pyvmfk_display);
  flex-direction: var(--mixin-jqJay2Pyvmfk_flex-direction);
  align-items: var(--mixin-jqJay2Pyvmfk_align-items);
  justify-content: var(--mixin-jqJay2Pyvmfk_justify-content);
  list-style-position: var(--mixin-jqJay2Pyvmfk_list-style-position);
  padding-left: var(--mixin-jqJay2Pyvmfk_padding-left);
  position: var(--mixin-jqJay2Pyvmfk_position);
  list-style-type: var(--mixin-jqJay2Pyvmfk_list-style-type);
  column-gap: var(--mixin-jqJay2Pyvmfk_column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-hVkgNUjCrqNR_display);
  flex-direction: var(--mixin-hVkgNUjCrqNR_flex-direction);
  align-items: var(--mixin-hVkgNUjCrqNR_align-items);
  justify-content: var(--mixin-hVkgNUjCrqNR_justify-content);
  list-style-position: var(--mixin-hVkgNUjCrqNR_list-style-position);
  padding-left: var(--mixin-hVkgNUjCrqNR_padding-left);
  position: var(--mixin-hVkgNUjCrqNR_position);
  list-style-type: var(--mixin-hVkgNUjCrqNR_list-style-type);
  column-gap: var(--mixin-hVkgNUjCrqNR_column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-nADk2cizkF07_color);
  font-size: var(--mixin-nADk2cizkF07_font-size);
  font-weight: var(--mixin-nADk2cizkF07_font-weight);
  line-height: var(--mixin-nADk2cizkF07_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-SIViVZJ5CjH1_color);
  font-size: var(--mixin-SIViVZJ5CjH1_font-size);
  font-weight: var(--mixin-SIViVZJ5CjH1_font-weight);
  line-height: var(--mixin-SIViVZJ5CjH1_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-aNlQZU6-mgLk_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
